<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mi web de MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/styles.css">
    </head>
            <body>
                <header class="main-header">
                    <div class="main-header-top-bar">
                            
                                <div class = "logo-mercadoLiebre">
                                    <img src="/images/logo-mercado-liebre.svg" alt="Logo MercadoLiebre" >
                                </div>
                            

                            <div class="buscador">
                                <input type= "text" name="buscar" placeholder="Buscar productos, marcas">
                                <i class="fa fa-search"></i>
                            </div>
                    
                                    
                        <div class= "compra"> 
                            <i class="fas fa-hand-holding-usd">
                            </i>Comprá en cuotas y sin tarjeta de crédito 
                        </div>
                    </div>
                    

                    <nav class = "main-header-bottom-bar">    
                        <ul class = "left-navbar">
                            <li><a href = "#">Ofertas</a></li>
                            <li><a href = "#">Tiendas Oficiales</a></li>
                            <li><a href = "#">Vender</a></li>
                            <li><a href = "#">Ayuda</a></li> 
                        </ul>

                        <ul class = "right-navbar">
                                <li><a href = "/register.html">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                                <li><a href = "/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                                <li><a href = "#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
                        </ul>   
                    </nav>
                    
                    <a href="#" class="burger-menu">
                        <i class="fas fa-bars"></i>
                    </a>                        
                </header>

                <main>
                    <img src="images/img-home-banner.jpg" width="360" alt="Banner">
                        <section>
                            <h3> Basado en tu última visita </h3>
                            <div class="productos">
                            <article>
                                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera">
                                <div class = "contenedor-articulo">
                                    <i class="fas fa-truck"></i>
                                    <p class="precios">$6.770</p>
                                    <p class="descuentos">40% OFF</p>
                                    <h4 class="descripciones">Cafetera Moulinex</h4>
                                </div>
                            </article>
                            <article>
                                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook">
                                <div class = "contenedor-articulo">
                                    <i class="fas fa-truck"></i>
                                    <p class="precios">$230.000</p>
                                    <p class="descuentos">20% OFF</p>
                                    <h4 class="descripciones">MacBook Pro 2019</h4>
                                </div>
                            </article>
                            <article>
                                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Samsung Galaxy">
                                <div class = "contenedor-articulo">
                                    <i class="fas fa-truck"></i>
                                    <p class="precios">$70.500</p>
                                    <p class="descuentos">10% OFF</p>
                                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                                </div>
                            </article>
                            <article>
                                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="Samsung SmartTV">
                                <div class = "contenedor-articulo">
                                    <i class="fas fa-truck"></i>
                                    <p class="precios">$23.200</p>
                                    <p class="descuentos">5% OFF</p>
                                    <h4 class="descripciones">SmartTV Samsung 43"</h4>
                                </div>
                            </article>
                        </div>
                        </section>

                        <section> 
                            <h3> Ofertas </h3>
                            <div class="productos">
                            <article>
                                <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera">
                                <div class = "contenedor-articulo">
                                    <i class="fas fa-truck"></i>
                                    <p class="precios">$6.770</p>
                                    <p class="descuentos">40% OFF</p>
                                    <h4 class="descripciones">Cafetera Moulinex</h4>
                                </div>
                            </article>
                            <article>
                                <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook">
                                <div class = "contenedor-articulo">
                                    <i class="fas fa-truck"></i>
                                    <p class="precios">$230.000</p>
                                    <p class="descuentos">20% OFF</p>
                                    <h4 class="descripciones">MacBook Pro 2019</h4>
                                </div>
                            </article>
                            <article>
                                <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Samsung Galaxy">
                                <div class = "contenedor-articulo">
                                    <i class="fas fa-truck"></i>
                                    <p class="precios">$70.500</p>
                                    <p class="descuentos">10% OFF</p>
                                    <h4 class="descripciones">Samsung Galaxy S10</h4>
                                </div>
                            </article>
                            <article>
                                <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="Samsung SmartTV">
                                <div class = "contenedor-articulo">
                                    <i class="fas fa-truck"></i>
                                    <p class="precios">$23.200</p>
                                    <p class="descuentos">5% OFF</p>
                                    <h4 class="descripciones">SmartTV Samsung 43"</h4>
                                </div>
                            </article>
                        </div>
                        </section>

                        </main>
                        <footer>
                            <div class="paga">
                            <div class="footer-icons"> <i class="far fa-credit-card"></i></div>
                                <h4>Pagá con tarjeta o en efectivo</h4>
                                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                            </div>
                            <div class="envio">
                                <div class="footer-icons"><i class="fas fa-gift"></i></div>
                                <h4>Envío gratis desde los $ 2.500</h4>
                                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                            </div>
                            <div class="seguridad">
                                <div class="footer-icons"><i class="fas fa-user-shield"></i></div>
                                <h4>Seguridad, de principio a fin</h4>
                                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>   
                            </div>
                            <div class="derechos">Copyright © 1999-2020 MercadoLiebre S.R.L.</div>
                                
                        </footer>
            </body>
</html> 

